<% if ProviderHelper.new.can_subscribe_to? @project %>
  <div class="contextual">
    <%= link_to 'Suscribirse como proveedor', new_project_provider_path(@project), class: 'icon icon-add' %>
  </div>
<% end %>

<h2>Proveedores</h2>

<% if ProviderHelper.new.can_edit_required_services? @project %>
  <%= render partial: 'edit_required_services' %> 
<% end %>

<%= render partial: 'project_required_categories/categories_list', locals: { categories: @categories } %>

<h3>Proveedores suscriptos</h3>
<% if @project_providers.empty? %>
  
  Aun no hay proveedores para el proyecto
  <% if ProviderHelper.new.can_subscribe_to? @project %>
    <p><%= link_to 'Suscribirse como proveedor', new_project_provider_path(@project), class: 'icon icon-add' %></p>
  <% end %>

<% else %>
  
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Categorías</th>
          <th>Detalles del costo</th>
        </tr>
      </thead>
      <tbody>
        <% @project_providers.each_with_index do |project_provider, index| %>
          <script> console.log("index: <%= index %>") </script>
          <% user_indicated = false %>

          <% project_provider.categories.each do |category| %>            
            <tr>
              <% unless user_indicated %>
                <td rowspan="<%= project_provider.categories.count %>"><%= project_provider.provider_name %></td>
                <% user_indicated = true %>
              <% end %>
              <td><%= category.service + ": " + category.mode %></td>
              <td><%= category.cost_details %></td>
            </tr>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>

