<h2>Suscribirse como proveedor</h2>

<h3>Servicios disponibles</h3>

<div class="autoscroll">
  <table class="list">
    <thead>
      <tr>
        <th></th>
        <th>Servicio</th>
        <th>Modalidad</th>
        <th>Descripción</th>
        <th>Unidad de medida</th>
      </tr>
    </thead>
    <tbody>
      <% @required_categories.each do |category| %>
        <tr class="category_<%= category.id %>">
          <td><a href="#" data-category-id="<%= category.id %>" class="category_selection icon icon-add" >añadir</a></td>
          <td><%= category.service %></td>
          <td><%= category.mode %></td>
          <td><%= category.description %></td>
          <td><%= category.measurament_unit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3>Servicios a ofrecer</h3>

<%= form_for :project_provider, :method => :post, 
  :url => create_project_provider_path(@project), html: { class: 'project_provider_form' } do |f| %>
  
  <%= error_messages_for 'project_provider' %>

  <div class="autoscroll">
    <table class="list selected">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Modalidad</th>
          <th>Unidad de medidad</th>
          <th>Detalle del costo</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <input type="submit" value="Guardar" id='send_button'>
<% end %>

<script>
  
  var categories = {
    <% ProviderCategory.all.each do |category| %>
      <%= category.id %>: { id: <%= category.id %>, service: '<%= category.service %>', 
        mode: '<%= category.mode %>', measurament_unit: '<%= category.measurament_unit %>' },
    <% end %>  
  };

  $(document).ready(function(){

    function disable_submit_button(){
      $('#send_button').attr('disabled', 'disabled');
    }

    function enable_submit_button(){
      $('#send_button').removeAttr('disabled');
    }

    function without_service_selected(call_to_action){
      if( $('table.selected > tbody td').length == 0 ){
        call_to_action();
      }
    }

    disable_submit_button();

    //$('.project_provider_form').submit(function(){
    //  without_error = true;
    //  $(".cost_detail").each(function(){
    //    value = $(this).val();
    //    if ( value === null || value.trim() === '' ) {
    //      // TODO: Mejorar el mensaje de error
    //      alert("Debe indicar un detalle de costo para cada uno de los servicios que selecciona");
    //      without_error = false;
    //      return false;
    //    }
    //  });
    //  return without_error;
    //});

    $('.category_selection').on('click', function(event){
      //category_id = event.currentTarget.value;
      category_id = $(event.currentTarget).data('category-id');
      category_row = $('tr.category_' + category_id);
      category_row.find('input').prop('checked', false);
      category_row.hide();

      category = categories[category_id];
      template = "<tr>" +
        "<td>" + category.service          + "</td>" +
        "<td>" + category.mode             + "</td>" +
        "<td>" + category.measurament_unit + "</td>" +
        "<td>" +
          "<textarea name=\"categories[][cost_details]\" id='category_" + category.id + "_cost_detail' class='cost_detail'></textarea>" +
          "<input type='hidden' name='categories[][id]' value=" + category.id + ">" +
        "</td>" +
        "<td><a href='#' class='icon icon-del del-category' data-category-id='" + category.id + "'>Quitar</a></td>" + 
        "</tr>";

      $('table.selected tbody').append(template);
      $('table.selected tbody #category_' + category.id + '_cost_detail').focus();
      enable_submit_button();
    });

    $('.del-category').live('click', function(event){
      event.preventDefault();
      var del_link = $(event.currentTarget);
      var category_id = del_link.data('category-id');
      $('tr.category_' + category_id).show();
      del_link.parents('tr').empty();
      without_service_selected(disable_submit_button);
    });
  });
</script>
